## ML Assignment 2 - IIT2018179
------

### 1) Importing the required files.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 2) Reading the csv data

In [4]:
hp = pd.read_csv('Housing_Price_data_set.csv')

### 3) Sectioning the data set into what is necessary

In [5]:
hp1 = hp[['lotsize', 'bedrooms', 'bathrms', 'price']]
hp1

     lotsize  bedrooms  bathrms     price
0       5850         3        1   42000.0
1       4000         2        1   38500.0
2       3060         3        1   49500.0
3       6650         3        1   60500.0
4       6360         2        1   61000.0
..       ...       ...      ...       ...
541     4800         3        2   91500.0
542     6000         3        2   94000.0
543     6000         3        2  103000.0
544     6000         3        2  105000.0
545     6000         3        1  105000.0

[546 rows x 4 columns]

### 4) Test and Validation Set (70 : 30)

In [32]:
hp_test = hp1.iloc[:383]
hp_val = hp1.iloc[383:]

### 5) Visualize the data

In [71]:
figure, ax = plt.subplots(3, 1, figsize=(15,15))
hp_test.plot(kind='scatter',x='lotsize',y='price',ax=ax[0])
hp_test.plot(kind='scatter',x='bedrooms',y='price',ax=ax[1])
hp_test.plot(kind='scatter',x='bathrms',y='price',ax=ax[2])

figure.tight_layout(pad=0.5)

## Initializing the matrices for Normal equation.

In [62]:
m = hp_test.shape[0]
X = np.concatenate((np.ones((m, 1)), np.array(hp_test.iloc[:, 0:3])), axis=1)
Y = np.array(hp_test.iloc[:, 3])

print(X.shape, Y.shape)

(383, 4) (383,)

## Calculating the Weights using Normal Equation.

In [79]:
E = np.eye(4)
E[0, 0] = 0                     # regularization term
lambda_ = 0.1
inverse = np.linalg.inv(np.dot(X.T, X) + lambda_*E)     # regularized 

W = np.dot(inverse, np.dot(X.T, Y))                     # Normal EQ.

## Resultant Weights.

In [96]:
print(W.shape)
print(W)

# np.sum(W[1:4])

(4,)
[-5.28336789e+03  6.10724289e+00  5.51675537e+03  1.87437494e+04]

## Calculating the Weights using Gradient Descent.

In [124]:
def GD(X, Y, alpha, lambda_, num_itrs):
    
    m, n = X.shape
    W = np.zeros(n)
    J = np.zeros(num_itrs)
    
    for i in range(num_itrs):
        delJ = np.dot(X, W) - Y

        W[0] = W[0] - (alpha/m)*(np.dot(X.T[0], delJ))
        W[1:4] = W[1:4] - (alpha/m)*(np.dot(X.T[1:4], delJ)) + (lambda_/m)*W[1:4]

        J[i] = (1/(2*m))*np.sum(np.square(np.dot(X, W) - Y)) + (lambda_/m)*np.sum(np.square(W))
        
    return W, J

In [133]:
W, J = GD(X, Y, 0.001, 0.1, 1)
print(W)
print(J)

# print(X.shape, W.shape)

[6.41349530e+01 3.39767810e+05 1.96696896e+02 8.93248799e+01]
[1.5710468e+18]

In [110]:
delJ = np.dot(X, W) - Y
delJ.shape

(383,)